a(name="down-scroll")
.index-black
	.container
		.row
			.twelve.columns
				h2 About the Game
			.twelve.columns
				p Ultra Gods is a multi player, 2D platformer, fast paced, arcade style, versus game that puts players against each other in a battle for glory. The game has multiple game modes in which players can either work with their friends for domination of the map, or go lone wolf and annihilate anything that breathes.
			.twelve.columns
				button.genre-btn
					p Fighter
				button.genre-btn
					p Brawler
				button.genre-btn
					p Local Multiplayer
				button.genre-btn
					p Indie
				button.genre-btn
					p 2D Platformer

.index-purple
	.container
		.row
			.twelve.columns.index-padding
				h2 Gallery



.index-blue
	.container
		.row.index-padding
			.twelve.columns
				h2 Follow Us
			.twelve.columns.social-media-icon
				ul
					li
						a(href="https://www.facebook.com/")
							i.icon-facebook.social-media-icons
						a(href="https://www.facebook.com/") Facebook
					li
						a(href="https://twitter.com/")
							i.icon-twitter.social-media-icons
						a(href="https://twitter.com/") Twitter
					li
						a(href="https://instagram.com//")
							i.icon-instagram.social-media-icons
						a(href="https://instagram.com//") Instagram
					li
						a(href="mailto:info@smartcarpentry.com.au")
							i.icon-envelope-square.social-media-icons
						a(href="mailto:info@smartcarpentry.com.au") Email Us


.index-white
	.container
		.row
			.twelve.columns
				h2 Blog
			.twelve.columns
				.six.columns
					.blog-post-image
						img(src="../img/blog1.jpg")
					.blog-post
						h4 Article Title
						p Exerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href="") Read More
				.six.columns
					.blog-post-image
						img(src="../img/blog2.jpg")
					.blog-post
						h4 Article Title
						p Exerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href="") Read More
			.twelve.columns
				.six.columns
					.blog-post-image
						img(src="../img/blog3.jpg")
					.blog-post
						h4 Article Title
						p Exerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href="") Read More
				.six.columns
					.blog-post-image
						img(src="../img/blog4.jpg")
					.blog-post
						h4 Article Title
						p Exerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href="") Read More