.row#call-to-action
	.twelve.columns.call-to-action
		.six.columns.text-right
			h5.call-to-action-text Why wait for a quote?
		.six.columns.text-left.call-to-action-btn
			a.button(href="/contact") Contact us today!

.row#call-to-action-mobile
	.twelve.columns.call-to-action
		.twelve.columns
			h5.call-to-action-text Why wait for a quote?
		.twelve.columns.call-to-action-btn
			a.button(href="/contact") Contact us today!