.row.footer#footer
	.six.columns
		p 2015 Smart Carpentry &amp; Co. All Rights Reserved.
	.six.columns.social-media
		ul
			li
				a(href="https://www.facebook.com/")
					i.icon-facebook.social-media-icons
				a(href="https://www.facebook.com/") Facebook
			li
				a(href="https://twitter.com/")
					i.icon-twitter.social-media-icons
				a(href="https://twitter.com/") Twitter
			//- li
			//- 	a(href="")
			//- 		i.icon-linkedin.social-media-icons
			//- 	a(href="") LinkedIn
			//- li
			//- 	a(href="")
			//- 		i.icon-instagram.social-media-icons
			//- 	a(href="") Instagram
			li
				a(href="mailto:info@smartcarpentry.com.au")
					i.icon-envelope-square.social-media-icons
				a(href="mailto:info@smartcarpentry.com.au") Email Us

.row.footer#footer-mobile
	.twelve.columns
		p 2015 Smart Carpentry &amp; Co. All Rights Reserved.
	.twelve.columns.social-media
		ul
			li
				a(href="https://www.facebook.com/")
					i.icon-facebook.social-media-icons
				a(href="https://www.facebook.com/") Facebook
			li
				a(href="https://twitter.com/")
					i.icon-twitter.social-media-icons
				a(href="https://twitter.com/") Twitter
		ul
			li
				a(href="https://instagram.com//")
					i.icon-instagram.social-media-icons
				a(href="https://instagram.com//") Instagram
			li
				a(href="mailto:info@smartcarpentry.com.au")
					i.icon-envelope-square.social-media-icons
				a(href="mailto:info@smartcarpentry.com.au") Email Us
			//- li
			//- 	a(href="")
			//- 		i.icon-linkedin.social-media-icons
			//- 	a(href="") LinkedIn
