.navbar
  .two.columns
    img(class="logo" src="/../img/example-logo.png")
  .ten.columns
    nav
      ul
        li
          a(href="/contact") Contact
        li
          a(href="/blog") Blog
        li
          a(href="/gallery") Gallery
        li
          a(href="/") Home

  a(href="#" id="pull") Menu
